<!doctype html>
<html lang="en">
  <head>
    
    <title>Hello, world!</title>
  </head>
  <body>
    <h1> Welcome {{user}} to Flop Fish! </h1>
    <h2> This is duck15</h2>

    <TABLE style = "width : 250px;">
      <TR>
         <TD> {{array[0][0]}} </TD>
         <TD> {{array[0][1]}} </TD>
         <TD> {{array[0][2]}} </TD>
         <TD> {{array[0][3]}} </TD>
      </TR>
      <TR>
        <TD> {{array[1][0]}} </TD>
        <TD> {{array[1][1]}} </TD>
        <TD> {{array[1][2]}} </TD>
        <TD> {{array[1][3]}} </TD>
      </TR>
      <TR>
        <TD> {{array[2][0]}} </TD>
        <TD> {{array[2][1]}} </TD>
        <TD> {{array[2][2]}} </TD>
        <TD> {{array[2][3]}} </TD>
      </TR>

      <TR>
        <TD> {{array[3][0]}} </TD>
        <TD> {{array[3][1]}} </TD>
        <TD> {{array[3][2]}} </TD>
        <TD> {{array[3][3]}} </TD>
      </TR>


   </TABLE>

  
  <button> <a href="/up/">up</a></button>
  <button> <a href="/down/">down</a></button>
  <button> <a href="/left/">left</a></button>
  <button> <a href="/right/">right</a></button>

  </body>
</html>