<!--background-image: url('img_girl.jpg'); -->

<!DOCTYPE html>
<html>
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <style>
      body{

        background-color: rgb(155, 221, 246);       
        background-repeat: no-repeat;
        background-attachment: fixed; 
        background-size: cover;
      }
    </style>

  <br>
  </head>
    <h1 style="font-size: 40px; text-align: center;">
    Flop Fish
    </h1>
    <h2 style="font-size: 20px; text-align: center;">
    Roster: Madelyn Mao, Andrew Jiang, Benjamin Gallai, Willaim Li
    </h2>
    <br></br>
    <h3 style="color:rgba(0, 166, 255, 0.88); font-size: 20px; text-align: center;">
    Enter your username and password below to proceed.
    </h3>

    <div id="login-row" class="row justify-content-center align-items-center">
      <form class="form" action="/auth">
        <div class="form-group">
            Username:
            <input type="text" name="username" class="form-control">
        </div>
        <div class="form-group">
            Password:
            <input type="text" name="password" class="form-control">
        </div>
        <div class="form-group">
            <input type="submit" name="sub1" class="btn btn-info btn-md" value="Log In">
        </div>
    </form>
    </div>

    <div style = "text-align: center;">
      <h3> No account? Sign up below!</h3>
      <br>
      <a id="createacct" href = "/newuser">Create Account</a>
    </div>
    

</html>